.product-item {
    .product-item-content {
        @apply border-[1px] border-[#2196F3];
        border-radius: 3px;
        margin: .3rem;
        text-align: center;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 98%;
    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }
}

.headerClass {
    @apply bg-[#8AC3F2] p-1 px-4 rounded-tr-[5px] rounded-tl-[5px] font-raleway font-bold text-sm text-[#131313] border-[1px] border-[#2196F3] tracking-[2px];
}

.innerDiv {
    @apply border-[1px] border-[#2196F3] border-t-0;
}

.mainContainer {
    @apply px-4;
}

:host ::ng-deep .p-dropdown {
    min-width: 160px;
}

:host ::ng-deep .p-autocomplete {
    height: 38px;
    margin-right: 1rem;
}